<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lab.persistence.mapper.ItemsMapper">

	<resultMap id="items"
		         type="com.lab.persistence.model.ItemsModel">

	</resultMap>

	
	
  <select id="getItemsMapper" 
          resultType="com.lab.persistence.model.ItemsModel"
          parameterType="com.lab.persistence.model.ItemsModel">

          SELECT * FROM items
  </select>
  
</mapper> 